// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as em;

@include describe("em.convert()") {
    @include it("Should return single value declaration.") {
        @include assert {
            @include output {
                .foo {
                    font-size: em.convert(16px, 16px);
                }
            }

            @include expect {
                .foo {
                    font-size: 1em;
                }
            }
        }
    }

    @include it("Should return multiple values declaration.") {
        @include assert {
            @include output {
                .foo {
                    margin: em.convert(16px 20px, 16px);
                }
            }

            @include expect {
                .foo {
                    margin: 1em 1.25em;
                }
            }
        }
    }

    @include it("Should return mixed values declaration.") {
        @include assert {
            @include output {
                .foo {
                    border: em.convert(1px solid darkcyan, 16px);
                }
            }

            @include expect {
                .foo {
                    border: 0.0625em solid darkcyan;
                }
            }
        }
    }
}
