// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as em;

@include describe("functions") {
    @include describe("convert()") {
        @include it("Should return single value declaration.") {
            @include assert {
                @include output {
                    .test {
                        font-size: em.convert(16px, 16px);
                    }
                }

                @include expect {
                    .test {
                        font-size: 1em;
                    }
                }
            }
        }

        @include it("Should return multiple values declaration.") {
            @include assert {
                @include output {
                    .test {
                        margin: em.convert(16px 20px, 16px);
                    }
                }

                @include expect {
                    .test {
                        margin: 1em 1.25em;
                    }
                }
            }
        }

        @include it("Should return mixed values declaration.") {
            @include assert {
                @include output {
                    .test {
                        border: em.convert(1px solid darkcyan, 16px);
                    }
                }

                @include expect {
                    .test {
                        border: 0.0625em solid darkcyan;
                    }
                }
            }
        }

        @include it("Should return comma-separated values declaration.") {
            @include assert {
                @include output {
                    .test {
                        box-shadow: em.convert(0 0 10px 5px rgba(darkcyan, 0.75), inset 0 0 10px 5px rgba(darkcyan, 0.75), 16px);
                    }
                }

                @include expect {
                    .test {
                        box-shadow: 0 0 0.625em 0.3125em rgba(0, 139, 139, 0.75), inset 0 0 0.625em 0.3125em rgba(0, 139, 139, 0.75);
                    }
                }
            }
        }
    }
}
